<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaljurand_at_gmail_dot_com.diktofon"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Diktofon"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.RecordingListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.RecordingSendActivity"
            android:label="@string/activity_recording_send_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Preferences"
            android:label="@string/activity_preferences_name"
            android:parentActivityName=".activity.RecordingListActivity" />
        <activity
            android:name=".activity.TransActivity"
            android:label="@string/activity_trans_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.RecordingListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_trans" />
        </activity>
        <activity
            android:name=".activity.DetailsActivity"
            android:label="@string/activity_details_name"

            android:parentActivityName=".activity.RecordingListActivity" />
        <activity
            android:name=".activity.SpeakerListActivity"
            android:label="@string/activity_speakers_name"
            android:parentActivityName=".activity.TransActivity" />

        <!--
		<activity
			android:name=".activity.SpeakersActivity"
			android:label="@string/activity_speakers_name">
		</activity>
        -->

        <activity
            android:name=".activity.TagSelectorActivity"
            android:label="@string/activity_tagselector_name"

            android:parentActivityName=".activity.RecordingListActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/activity_about_name"

            android:parentActivityName=".activity.RecordingListActivity" />

        <service android:name=".service.PlayerService" />

        <provider
            android:name=".SearchSuggestionsProvider"
            android:authorities="kaljurand_at_gmail_dot_com.diktofon.SearchSuggestionsProvider"
            android:exported="false" />
        <provider
            android:name=".provider.SpeakersContentProvider"
            android:authorities="kaljurand_at_gmail_dot_com.diktofon.provider.SpeakersContentProvider"
            android:exported="false" />
    </application>

</manifest>